<ng-container [ngSwitch]="part.type">
  <p *ngSwitchCase="'text'">{{part.text}}</p>
  <ng-container *ngSwitchCase="'smartspider'">
    <dl-smartspider [voterSmartspider]="part.smartspider" [showVoterSpider]="true"></dl-smartspider>
  </ng-container>
  <ng-container *ngSwitchCase="'barchart'">
    <dl-barchart [chart]="part.chart"></dl-barchart>
  </ng-container>
  <ng-container *ngSwitchCase="'piechart'">
    <dl-piechart [chart]="part.chart"></dl-piechart>
  </ng-container>
  <ng-container *ngSwitchCase="'figure'">
    <figure>
      <img [src]="part.figure.url" [alt]="part.figure.alt" [attr.width]="part.figure.width || null" [attr.height]="part.figure.height || null"  />
      <figcaption *ngIf="part.figure.caption">{{part.figure.caption}}</figcaption>
    </figure>
  </ng-container>
  <p *ngSwitchDefault>can not yet handle part of type {{part.type}}</p>
</ng-container>
