<nav *ngIf="ready">
  <ul>
    <li>
      <a [routerLink]="['/', currentPage, index-1]" [hidden]="!hasPrevious">
        <i class="fa fa-arrow-left"></i>
        rückwärts
      </a>
    </li>
    <li>
      <a [routerLink]="['/']"><i class="fa fa-arrow-up"></i>Home</a>
    </li>
    <li>
      <a [routerLink]="['/', currentPage, index+1]" [hidden]="!hasNext">
        vorwärts
        <i class="fa fa-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>
<ng-container *ngIf="ready && currentQuestion">
  <h1>{{currentQuestion.title}}</h1>
  <ng-container *ngFor="let part of currentQuestion.description">
    <ng-container [ngSwitch]="part.type">
      <p *ngSwitchCase="'text'">{{part.text}}</p>
      <p *ngSwitchDefault>can not yet handle part of type {{part.type}}</p>
    </ng-container>
  </ng-container>
  <div>
    <button (click)="toggleOpen()" class="show-answer">Antwort anzeigen</button>
  </div>
  <div *ngIf="isOpen" class="answer">
    {{currentQuestion.answer}}
  </div>
</ng-container>
