<nav *ngIf="ready">
  <dl-simple-navigation *ngIf="!hasPrevious && !hasNext"></dl-simple-navigation>
  <ul *ngIf="hasPrevious || hasNext">
    <li>
      <a [routerLink]="['/', currentPage, index-1]" [hidden]="!hasPrevious">
        <i class="fa fa-arrow-left"></i>
        rückwärts
      </a>
    </li>
    <li>
      <a [routerLink]="['/']"><i class="fa fa-arrow-up"></i>Home</a>
    </li>
    <li>
      <a [routerLink]="['/', currentPage, index+1]" [hidden]="!hasNext">
        vorwärts
        <i class="fa fa-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>
<ng-container *ngIf="ready && currentQuestion">
  <h1>{{currentQuestion.title}}</h1>
  <div class="question">
    <dl-part *ngFor="let part of currentQuestion.description" [part]="part"></dl-part>
  </div>
  <div>
    <button (click)="toggleOpen()" class="show-answer">{{isOpen ? currentQuestion.buttonLabel.open : currentQuestion.buttonLabel.closed}}</button>
  </div>
  <div *ngIf="isOpen" class="answer">
    <dl-part *ngFor="let part of currentQuestion.answer" [part]="part"></dl-part>
  </div>
</ng-container>
