<dl-simple-navigation></dl-simple-navigation>
<div class="form-wrapper">
  <h1>Link versenden</h1>
  <p>
    Sie möchten sich diese Webseite zuhause ansehen? Sie können sich den Link dazu einfach per Mail zusenden. Ihre E-Mail-Adresse wird weder gespeichert noch für Newsletter verwendet.
  </p>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="hidden" name="uid" value="" ngModel />
    <div class="row" *ngIf="status">
      <span class="msg" [ngSwitch]="status">
        <span *ngSwitchCase="'success'" class="success">Mail erfolgreich versendet.</span>
        <span *ngSwitchCase="'send_error'" class="error">Mail konnte nicht versendet werden.</span>
        <span *ngSwitchCase="'validation_error'" class="error">Ungültige Dateneingabe.</span>
        <ng-container *ngSwitchDefault></ng-container>
      </span>
    </div>
    <div class="row">
      <label for="mail">Ihre E-Mail Adresse*</label>
      <input type="email" name="mail" required email ngModel />
      <input type="submit" value="Link senden" />
    </div>
  </form>
  <p>
    Wenn Sie Ihr Handy dabei haben können Sie auch den Barcode scannen.
  </p>
  <img src="/assets/images/static_qr_code.jpg" alt="QR-Code" />
</div>
