<dl-simple-navigation></dl-simple-navigation>
<div class="content-wrapper">
  <h1>Impressum</h1>

  <p>Diese Website wurde im Rahmen der Nacht der Forschung 2017 durch <a href="http://www.politools.net" target="_blank">Politools</a>/<a href="http://www.smartvote.ch" target="_blank">smartvote</a> (Konzept/Gestaltung/Umsetzung) in Zusammenarbeit mit <a href="http://www.soom-it.ch/" target="_blank">soom-it</a> (Technologie-Partner) und dem <a href="http://www.kpm.unibe.ch/" target="_blank">Kompetenzzentrum für Public Management (KPM)</a> der Universität Bern erstellt.</p>

  <p>Um das Projektteam zu kontaktieren, nutzen Sie bitte das <a [routerLink]="['/kontakt']" >Kontaktformular</a></p>
</div>
