.form-wrapper {
  max-width: 800px;
  margin: auto;
}

.form-wrapper .row {
  padding: .4em 0;
}

label {
  display: inline-block;
  min-width: 8em;
  margin: .2em .4em;
  font-weight: bold;
}

.row.high label {
  vertical-align: top;
  margin-top: .35em;
}

input,
textarea {
  font-size: inherit;
  border: 1px solid grey;
  border-radius: 4px;
  width: 100%;
  padding: .4em;
}

textarea {
  min-height: 10em;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}


.msg .progress {
  color: #E48100;;
}

.msg .error {
  color: red;
}

.msg .success {
  color: green;
}

@media screen and (min-width: 400px) {
  label {
    text-align: right;
  }

  input,
  textarea {
    width: 16em;
  }

  *[type="submit"],
  .msg {
    margin-left: 9.1em;
  }
}

@media screen and (min-width: 800px) {
  textarea {
    width: 32em;
  }
}
