/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 1em;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

nav ul {
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav li {
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 4px;
  //box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button,
input[type=submit] {
  border-radius: 4px;
  border: 1px solid grey;
  background-color: whitesmoke;
}
button {
  padding: .5em 2em;
}

a {
  text-decoration: none;
  color: #E48100;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}
