<h1 i18n="title home | title above tiles@@homeTitle">Data Literacy</h1>
<div class="tile-container">
  <a class="tile" [routerLink]="['/smartvote']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">smartvote</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/smartspider']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">smartspider</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/politiker']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">Lügende Politiker</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/impressum']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">Impressum</span>
    </span>
  </a>
  <div class="tile">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">Link versenden</span>
    </span>
  </div>
  <a class="tile" [routerLink]="['/kontakt']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">Kontakt</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/usa']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">US Wahlen</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/taeuschung']">
    <span class="tile-content">
      <i class="fa fa-clock-o" aria-hidden="true"> </i>
      <span class="title">Täuschende Grafiken</span>
    </span>
  </a>
  <a class="tile" [routerLink]="['/proportion']">
    <span class="tile-content">
      <i class="fa fa-question-circle-o" aria-hidden="true"> </i>
      <span class="title">Wenn das Auge täuscht</span>
    </span>
  </a>
</div>
